.calculate
  padding: 60px 0
  +gd
  .container
    position: relative
    display: flex
    +r(767)
      display: block
    &::before
      content: ''
      position: absolute
      top: -30px
      left: 0
      width: 485px
      height: 370px
      background: url(images/general/calculate-car.png) no-repeat center / contain
      +r(992)
        display: none
  &__form-wrap
    position: absolute
    top: -110px
    right: 325px
    padding: 45px 45px 25px
    background: #fff
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15)
    max-width: 430px
    +r(992)
      right: auto
      left: 15px
      max-width: 380px
      padding: 35px 25px 15px
      .btn
        min-width: auto
        width: 100%
    +r(767)
      position: static
      top: auto
      right: auto
      margin: -90px auto 30px
    h3
      margin-bottom: 40px
      text-align: center
      font-size: 36px
      line-height: 1.2
      +r(480)
        font-size: 28px
      span
        font-size: 24px
        +r(480)
          font-size: 18px
  &__adv
    margin-left: auto
    width: 280px
    +r(767)
      //width: auto
      margin: 0 auto
      text-align: center
    .icon-box
      margin-bottom: 35px
      &:last-child
        margin-bottom: 0
      &__title
        font-size: 18px